
body {
    min-width: 20%;
    max-width: 100%;
}

div.geral {
    background-color: gray;  
    border: none;
    border-radius: 10px;
    margin: auto;
    
}

div.inserir-compromisso {
    display: flex;
    justify-content: center;
    margin: auto;
}

section {
    background-color:rgb(245, 240, 240);
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    
}

#res {
    background-color: rgba(8, 88, 238, 0.349);
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.226);
}

input#data, button{
    margin-top: 25px;
    align-items: center;
}







