


div.geral {
    background-color: gray;  
    border: none;
    border-radius: 10px;
    width: 100%;

}

div.inserir-compromisso {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

section {
    background-color:rgb(245, 240, 240);
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

#res {
    background-color: rgba(8, 88, 238, 0.349);
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.226);
}







